<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="/js/application.js"></script>

  <title>Photo album</title>
</head>
<body>
  <h1>Photo Album, created at <a href="http://codea.mx/" target="_blank">CODEACAMP</a></h1>
  <div class="centered">
  <a href="https://github.com/softwarenacho/photoalbum" target="_blank">Repository at Github</a>
</div>

  <div class="container">
    <%= yield %>
  </div>


  
</body>
</html>
